.build {

    height: 100%;
    display: flex;
    flex-direction: column;

    &__components {
        height: 6rem;
        border-bottom: 1px solid lightgray;
        background-color: #fff;
        position: relative;
    }

    &__components:hover {
        cursor: pointer;
    }

    &__text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 1rem;
        font-size: 1.5rem;
        font-weight: 500;
    }

    &__arrow {
        width: 2rem;
        position: absolute;
        top: 50%;
        right: 2rem;
        transform: translateY(-50%);
        transition: all 0.4s;
    }
    
    &__options {
        visibility: visible;
        opacity: 1;
        position: relative;
    }

    &__pillbox {
        visibility: visible;
        border-top: 1px solid $color-dark;
        border-bottom: 1px solid $color-dark;
        border-right: 1px solid $color-dark;
        opacity: 1;
        display: flex;
        padding: .5rem 3rem;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        background-color: white;
        transition: all .3s;
    }


    &__pill {
        margin: 1rem;
        opacity: 1;
        padding: 1rem;
        font-size: 1.4rem;
        font-weight: 500;
        border-radius: 1.3rem;
        text-transform: lowercase;
        transition: all .3s;
        color: black;
    }


    &__form-container {
        // border-bottom: 1px solid $color-dark;
        // border-right: 1px solid $color-dark;
        background-color: $color-dark;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__form {
        width: 80%;
        margin: 1rem;
        padding: 3rem;
        background-color: #fff;
    }

    &__sandbox {
        // border: solid 1px red;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    &__element {
        width: 80%;
        height: 10rem;
        background-color: white;
        margin-top: 2rem;
    }
}

#show {
    position: fixed;
    right: 10rem;
    top: 1rem;
}


#show:checked + .build__components > .build__arrow {
    width: 2rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%) rotate(180deg);
}

#show:checked ~ .build__options {
    visibility: hidden;
    height: 0;
    opacity: 0;
}

#show:checked ~ .build__pillbox > .build__pill {
    visibility: hidden;
    opacity: 0;
}
