.build {


    &__components {
        height: 6rem;
        border-bottom: 1px solid lightgray;
        background-color: #fff;
        position: relative;
    }

    &__text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 1rem;
        font-size: 1.5rem;
        font-weight: 500;
    }
    
    &__arrow {
        width: 2rem;
        position: absolute;
        top: 50%;
        right: 2rem;
        transform: translateY(-50%);

    }


}