.feedsound {
    position: relative;
    margin: 1vw .5vw;
    padding: 1vw;
    border-radius: .5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 205, 131);

    &__heading {
        position: absolute;
        font-size: .8vw;
        top: .2vw;
        left: .3vw;
    }

    &__image {
        margin-top: .5rem;
        width: 11vw;
        height: 11vw;
    }

    &__name  {
        font-size: 1.3vw;
        font-weight: 500;
        margin-top: .2rem;
    }

    &__artist {
        font-size: 1vw;
    }
}

.feedsound-pod {
    position: relative;
    margin: 1vw .5vw;
    padding: 1vw;
    border-radius: .5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(189, 131, 255);
}

.feedsound-pod:hover {
    background-color: rgb(206, 165, 254);
}

.feedsound:hover {
    background-color: rgb(249, 219, 175);
}