.feedcomment {

    text-align: left;
    margin-left: 1vw;
    margin-bottom: -1vw;
    transform: translateY(-1rem);

    &__text {
        font-size: 1vw;
        display: inline;
        margin-right: 1vw;
        font-weight: 500;
    }
    
    &__arrow {
        width: 1.3vw;
        transform: translate(-.5rem, .1rem);
        display: inline;
    }
}

