.feedbook {
    position: relative;
    margin: 1vw .5vw;
    padding: 1vw;
    border-radius: .5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(52, 187, 77);
    border: solid .15vw green;
    color: rgb(1, 72, 1);

    &__heading {
        position: absolute;
        font-size: .8vw;
        top: .2vw;
        left: .3vw;
    }

    &__image {
        margin-top: .5rem;
        width: 10vw;
        height: 13vw;
    }

    &__name  {
        font-size: 1.3vw;
        font-weight: 500;
        margin-top: .2rem;
    }

    &__artist {
        font-size: 1vw;
    }

    &__type {
        position: absolute;
        top: .1vw;
        left: .5vw;
        font-size: 1vw;
        font-weight: 600;
        color: rgb(0, 99, 0);
    }
}


.feedbook:hover {
    background-color: rgb(117, 199, 132);
}