.feedlink {
    margin: 1vw .5vw;
    margin: 1vw .5vw;
    border-radius: .5vw;
    padding: 1vw;
    background-color: rgb(240, 114, 114);
    border: solid .15vw rgb(210, 45, 45);

    &__atag {
        text-decoration: none;
    }

    &__title {
        font-size: 1.5vw;
        font-weight: 500;
        color: darkred;
        letter-spacing: 1px;
    }
}

.feedlink:hover {
    cursor: pointer;
    
    background-color: rgb(242, 149, 149);
}