@import "../variables.scss";

.navigation {
    background-color: $color-dark;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;

    &__title {
        font-size: 2.5rem;
        color: white;
    }

    &__link {
        font-size: 2.5rem;
        text-decoration: none;
        color: white;
    }
}