.phone {
    position: relative;
    width: 60%;
    height: 0;
    padding-bottom: 110%;
    border: solid 1.1vw black;
    border-radius: 2.5vw;
    margin: 3rem auto;
    background-color: #fff;
    overflow: auto;
    
    &__profile-pic {
        width: 6vw;
        height: 6vw;
        border: solid $color-dark .5px;
        border-radius: 10%;
    }
    
    &__content {
        text-align: center;
        margin-top: 1rem;
    }
    
    &__content-container {
        height: 100%;
    }

    &__name {
        font-size: 1.2vw;
        font-weight: 500;
    }
    
    &__username {
        font-size: 1.2vw;
        font-weight: 500;
    }

    &__about {
        margin: .5rem .5rem;
        font-size: 1.5rem;
        font-size: 1.2vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &__icon-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        // margin-top: 5vw;
    }

    &__icon {
        width: 1.3vw;
        height: 1.3vw;
        margin-right: .5rem;
        
    }

    &__logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1vw;
        padding-bottom: 2vw;
    }

    &__logo-container:hover {
        cursor: pointer;
    }

    &__logo {
        width: 2.5vw;
        margin-right: .3vw;
    }

    &__logo-text {
        font-size: 1.5vw;
    }



}