.phone {
    position: relative;
    width: 60%;
    height: 0;
    padding-bottom: 110%;
    border: solid 1.1vw black;
    border-radius: 2.5vw;
    overflow: auto;
    margin: 3rem auto;
    background-color: #fff;
    
    &__profile-pic {
        width: 4vw;
        height: 4vw;
        border: solid $color-dark 1px;

        border-radius: 10%;
        padding: .5vw;
    }

    &__content {
        text-align: center;
        margin-top: 1rem;
    }

    &__name {
        font-size: 1.2vw;
        font-weight: 500;
    }
    
    &__username {
        font-size: 1.2vw;
        font-weight: 500;
    }

    &__about {
        margin: .5rem .5rem;
        font-size: 1.5rem;
        font-size: 1.2vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &__icon-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__icon {
        width: 1.3vw;
        height: 1.3vw;
        margin-right: .5rem;
    }



}