.settings {
    width: 50%;
    background-color: #fff;
    margin: 10rem auto;
    padding: 3rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__text {
        font-size: 1.5rem;
    }
}