.soundtrack {
    display: flex;
    flex-direction: row;
    align-items: top;

    &__results {
        position: relative;
        height: 20rem;
        overflow: scroll;
        width: 98%;
        margin: 1rem auto;
        border-radius: .5rem;
        background-color: rgb(238, 238, 238);
    }

    &__noresults {
        position: absolute;
        top: 50%;
        left: 48%;
        transform: translate(-50%, -50%);
        font-size: 3rem;
        color: rgba(black, .3)
    }

    &__result {
        width: 98%;
        margin: 1rem auto;
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;
        background-color: $bg-color;
        padding: .5rem;
        border-radius: 1rem;
        border: solid 1.5px $color-dark;
        justify-content: space-between;
    }

    &__img-info {
        display: flex;
        flex-direction: row;
    }

    &__result-img {
        width: 10rem;
        height: 10rem;
    }

    &__artist-name {
        font-size: 1.8rem;
        margin-left: 1rem;
        font-weight: 600;
    }

    &__album-name {
        font-size: 1.5rem;
        margin-left: 1rem;
        font-weight: 500;
    }

    &__btn {
        padding: 0 2.5rem;
        border: none;
        border-radius: 1rem;
        background-color: $color-blue;
        color: white;
        font-weight: 600;
        font-size: 1.5rem;
        outline: none;
    }

    &__btn:hover {
        cursor: pointer;
        background-color: rgba($color-blue, .9);
    }

    &__selection-img {
        width: 30rem;
        height: 30rem;
    }
}