.manage {
    margin-left: 6rem;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 10fr;
    // grid-area: "nav info" "dash display"

    &__grid1 {
        // grid-area: "nav";
        // padding: 1rem;
        border-bottom: solid lightgray .1rem;
        border-right: solid lightgray .1rem;
    }

    &__grid2 {
        // grid-area: "dash";
        padding: 1rem;
        border-bottom: solid lightgray .1rem;
    }

    &__grid3 {
        padding: 1rem;
        border-right: solid lightgray .1rem;
    }

    &__grid4 {
        padding: 1rem;

    }

    &__container {
        position: relative;
    }

    &__list {
        display: flex;
        flex-direction: row;
        margin-left: 2rem;
    }

    &__nav {
        height: 7.2rem;
        padding: 0 1rem;
        margin-right: 1rem;
        background-color: $bg-color;
        border: none;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: .1rem;
    }

    &__nav:hover {
        cursor: pointer;
    }

    &__nav:hover + &__underline {
        position: absolute;
        bottom: 0;
        width: 90%;
        margin: 0 auto;
        height: .3rem;
        background-color: red;
    }

    &__underline {
        position: absolute;
        bottom: 0;
        width: 0;
        margin: 0 auto;
        height: .3rem;
        background-color: red;
        transition: all .2s;
    }
}
