.manage {
    margin-left: 6rem;
    height: 100vh;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 10fr;
    // grid-area: "nav info" "dash display"

    &__grid1 {
        border-bottom: solid lightgray .1rem;
        border-right: solid lightgray .1rem;
        // max-height: 72px;
    }
    
    &__grid2 {
        position: relative;
        border-bottom: solid lightgray .1rem;
    }
    
    &__grid3 {
        border-right: solid lightgray .1rem;
        background-color: $bg-gray;
    }
    
    &__grid4 {
        background-color: $bg-gray;
    }

    &__container {
        position: relative;
        height: 100%;
    }
    
    &__list {
        display: flex;
        flex-direction: row;
        margin-left: 2rem;
        height: 100%;
        min-height: 76px;
    }

    &__nav {
        height: 100%;
        outline: none;
        padding: 0 1rem;
        margin-right: 1rem;
        background-color: $bg-color;
        border: none;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: .1rem;
    }

    &__nav:hover {
        cursor: pointer;
    }

    &__nav:hover + &__underline {
        position: absolute;
        bottom: 0;
        width: 90%;
        margin: 0 auto;
        height: .2rem;
        background-color: rgba($color-dark, .15);
    }

    &__underline {
        position: absolute;
        bottom: 0;
        width: 0;
        margin: 0 auto;
        height: .2rem;
        background-color: $color-red;
        transition: all .1s;
    }

    &__selected {
        position: absolute;
        bottom: 0;
        width: 90%;
        margin: 0 auto;
        height: .2rem;
        background-color: $color-red;
    }

    &__text {
        font-size: 1.5rem;
        font-weight: 500;
        position: absolute;
        top: 40%;
        left: 5%;
    }

    &__thelink {
        font-weight: 400;
        color: black;
    }
}
