@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
@import "./pages/landing";
@import "./pages/signup";
@import "./pages/manage";
@import "./components/navigation";
@import "./components/privatenav";
@import "./components/sandbox";
@import "./components/phone";
@import "./components/build";
@import "./variables.scss";



*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: $bg-color;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
}