$bg-color: #fff;
$color-yellow: #FFD23F;
$color-dark: #121619;
$color-blue: #4B6CBE;
$color-neon_blue: #00c3ff;
$color-red: rgb(255, 60, 0);
$color-rainbow: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
$bg-gray: rgb(233, 233, 233);